[user]
  name =
  email =
[core]
  whitespace = tab-in-indent
[color "diff"]
  whitespace = red reverse
[color]
  diff = auto
  ui = auto
[push]
  default = simple
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --graph --pretty=format:\"%C(yellow)%h %C(green)%ad %C(red)%<(25)%an %Creset%s%d \" --date=short
  type = cat-file -t
  dump = cat-file -p
  cp = cherry-pick
  sh = show
  l = log
  rso = remote show origin
