! #include ".Xresources.d/rxvt-unicode_solarized-light"
! #include ".Xresources.d/rxvt-unicode_solarized-dark"

!===============================================================================
! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized
!
!===============================================================================

! Common color stuff
! colors 0-7 are normal colours
! colors 8-15 are bright counterparts

! Common colors
#define yellow  #b58900
#define orange  #cb4b16
#define red     #dc322f
#define magenta #d33682
#define violet  #6c71c4
#define blue    #268bd2
#define cyan    #2aa198
#define green   #859900

! xterm common colors
! #define yellow  #af8700
! #define orange  #d75f00
! #define red     #d70000
! #define magenta #af005f
! #define violet  #5f5faf
! #define blue    #0087ff
! #define cyan    #00afaf
! #define green   #5f8700

! Dark (base1 can be used as a 5th for optional emphasized content)
! base03 background
! base02 background_highlights
! base01 comments/secondary content
! base0  body text/default code/primary content
#define base03 #002b36
#define base02 #073642
#define base01 #586e75
#define base0  #839496

! Light (base01 can be used as a 5th for optional emphasized content)
! base3  background
! base2  background_highlights
! base1  comments/secondary content
! base00 body text/default content/primary content
#define base3  #fdf6e3
#define base2  #eee8d5
#define base1  #93a1a1
#define base00 #657b83

!Skype dark/light
! Skype*background:              base03
Skype*background:              base3

!URxvt dark
! URxvt*background:  base03
! URxvt*foreground:  base0
! URxvt*cursorColor: base1
! URxvt*scrollColor: base1

!URxvt light
URxvt*background:  base3
URxvt*foreground:  base00
URxvt*cursorColor: base01
URxvt*scrollColor: base01

URxvt*fading:    40
URxvt*fadeColor: base03
! URxvt*pointerColorBackground: base01
! URxvt*pointerColorForeground: base1

! color1 = archive
! color2 = executable
! color12 = dir
! color13 = socket

! URxvt*color0:  base02
URxvt*color1:  red
URxvt*color2:  green
! URxvt*color3: yellow
! URxvt*color4: blue
! URxvt*color5: magenta
! URxvt*color6: cyan
! URxvt*color7: base2
! URxvt*color9: orange
! URxvt*color8: base03
URxvt*color10: red
URxvt*color11: yellow
! URxvt*color10: base01
! URxvt*color11: base00
URxvt*color12: blue
URxvt*color13: violet
! URxvt*color14: base1
! URxvt*color15: base3

URxvt*geometry: 100x30
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: false
URxvt*scrollTtyKeypress: true
URxvt*scrollBar_right: true
URxvt*scrollstyle: plain
URxvt*thickness: 1


! Urxvt.secondaryScreen: 1
! Urxvt.secondaryScroll: 0

! URxvt.font: 7x13,
!             xft:Bitstream Vera Sans Mono

! URxvt.font: -misc-fixed-medium-r-normal--14-130-75-75-c-70-iso8859-1
! URxvt.font: -misc-fixed-medium-r-normal--10-100-75-75-c-60-iso10646-1
! URxvt.font: -misc-tamsyn-medium-r-normal--12-87-100-100-c-60-iso8859-1
URxvt.font: xft:Misc Tamsyn:style=Regular:size=10
! URxvt.font: xft:Misc Tamsyn:style=Regular:size=11
